<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maura Friddle</title>
    <link href = "/static/css/style.css" rel = "stylesheet">
</head>
<body>
    <h1>Maura Friddle</h1>
    <!-- Adding a redirect in case the user needs to visit the home "hello" page -->
    <p>Redirect to <a href="http://127.0.0.1:5000/hello" target ="_blank">Maura Friddle's first HTML page</a>.</p>

    <h2>Elementary School</h2>
    <p>I attended <strong>Saint Patrick's School</strong> in Rockville, Maryland from Kindergarten to 8th grade.</p>

    <h2>High School</h2>
    <p>I attended <strong>Oakcrest School</strong> in Vienna, Virginia from 9th grade to 12th grade. I graduated with 40 girls.</p>

    <h2>College</h2>
    <p id="special-purple">I attended one semester at the <strong>University of Dallas</strong> in Irving, Texas.</p>
    <p>I took a gap year from January 2020 - December 2020 in Wollongong, Australia.</p>

    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
          alt="Smith Logo">
    <p>I will graduate in May from the <strong>University of Maryland Smith School of Business</strong> in College Park, Maryland.</p>
    <!--Course list so that people can glean my interests-->
    <p>My favorite courses at UMD:</p>
    <ol class = bold>
        <li>ENGL375: J.R.R. Tolkien: Middle Earth and Beyond</li>
        <li>ENGL391: Tolkien in Oxford</li>
    </ol>

    <!-- Table shows courses, along with an idea of how many semesters I have attended UMD-->
    <table>
        <tr>
            <th>Courses Taken</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT220</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>SPAN425</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2024</td>
        </tr>
    </table>

    <!-- These websites show additional interests of mine -->
    <h2>Some of my favorite websites:</h2>
    <ul>
        <li><a href="https://opusdei.org/en-us/" target="_blank">Opus Dei: Finding God in Daily Life</a></li>
        <li><a href="https://www.fluentin3months.com/tedx/" target="_blank">How to learn a new language in 3 months</a></li>
    </ul>


</body>
</html>